body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

  }
  // header
.headerbg {
    background: #dcdcdc;
    width: 100%;
    height: 230px;
  }
.header {
  display: flex;
  margin: auto;
  width: 980px;
  padding: 0 10px;
  height: 230px;
}
.left-header {
  display: flex;
  width: 490px;
  align-items: center; 
  justify-content: left;
}
.right-header {
  display: flex;
  width: 490px;
  align-items: center; 
  justify-content: right;
}
.logo {
  width: 100px;
  height: 100px;
  background-color: #777777;
}
.header-numbers {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #777777;
  font-weight: light;
}
.header-feedback {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  line-height: 22px;
  color: #777777;
  font-weight: bold;
  text-align: right;
}
.header-feedback:hover {
  color: #666666;
  cursor: pointer;
   text-decoration: underline dashed;
}
// menu
.menubg {
  background: #777777;
  width: 100%;
  height: 80px;
}
.menu {
  display: flex;
  margin: auto;
  width: 980px;
  padding: 0 10px;
  height: 80px;
}
.menu-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: auto;

  li {
    font-size: 24px;
    padding: 5px;
    
    &:not(:last-child)::after {
      content: " | ";
      color: #FFFFFF;
      font-weight: bold;
    }
  }
}
.anchor-styledM {
  text-decoration: none;
  color: #FFFFFF;
}
.anchor-styledM:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
//slider
.sliderbg {
  background: no-repeat center center;
  background-image: url(images/sliderbg.jpg);
  background-size: cover;
  width: 100%;
  height: 400px;
  margin: 0;
}
.slidercontainer {
  display: flex;
  margin: auto;
  width: 980px;
  padding: 0 10px;
  height: 400px;
  min-width: 0;
}
.slider{
  min-width: 0;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 34px;
  height: 61px;
  margin: -30px 0 0 0;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background-image: url(images/left.png);
}
.slider .slick-arrow.slick-next {
  right: 0;
  background-image: url(images/right.png);
}
.slick-track {
  display: flex;
  overflow: hidden;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
//breadcrumps
.breadcrumps {
  display: flex;
  width: 980px;
  padding: 0 10px;
  height: 50px;
  margin: auto;
}
.breadcrumps-list {
  display: flex;
  list-style: none;
  padding: 0;
  color: #767676;

  li {
    padding: 5px;
    &:not(:last-child)::after {
      content: " / ";
    }
  }
}
.anchor-styledB {
  text-decoration: none;
  color: #767676;
}
.anchor-styledB:hover {
  color: #767676;
  text-decoration: underline;
}
//content
.content {
  display: flex;
  margin: auto;
  width: 980px;
  padding: 0 10px;
  height: 1300px;
}
.leftblock {
  width: 200px;
  padding: 0 10px;
  height: 100%;
} // тут і далі лівий блок
.left-list {
  padding: 0;
  color: #767676;
  list-style: none;
  font-size: 20px;
  line-height: 32px;
}
.left-sublist {
  padding: 10 px;
  color: #767676;
  list-style-type: disc;
  font-size: 14px;
  line-height: 22px;
  display: none;
}
.anchor-styledL {
  text-decoration: none;
  color: inherit;
}
.anchor-styledL:hover {
  color: #000;
  text-decoration: underline;
}
.left-download {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 0px 0px;
  width: 200px;
}
//тут починається правий блок
.rightblock {
  width: 100%;
  padding: 0 10px;
  height: 100%;
}
.goods-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 42px 0px;
  width: 780px;
  height: 378px;
}
.good {
  background-color: #dcdcdc;
  width: 210px;
  height: 360px;
  margin: auto;
  padding: 20px;
}
.good-bottom {
  display: flex;
  width: 210px;
  margin-top: 65px;
}
.good-price {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  justify-self: left;
}
.good-add {
  justify-self: right;
  width: 28px;
  height: 21px;
  margin-left: auto;
}
.right-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: auto;
  font-size: 14px;

  li {
    padding: 10px;
  }}
.anchor-styledR {
  text-decoration: none;
  color: #767676;
}
.anchor-styledR:hover {
  color: #000;
  text-decoration: underline;
  font-size: 24px;
}
//тут починається футер
.footerbg {
  background: #767676;
  width: 100%;
  height: 175px;
  padding: 45px 0px 0px 0px;
  margin-top: auto;
}
.footer {
  position:sticky;
  display: flex;
  margin: auto;
  width: 980px;
  padding: 0 10px;
  height: 175px;
  color: #FFFFFF;
}
.footer-list {
  list-style: none;
  margin: 0;
}
.anchor-styledF {
  text-decoration: underline;
  color: #FFFFFF;
}
.anchor-styledF:hover {
  color: #DCDCDC;
  text-decoration: underline;
}
// форма
/* Затемнення фону */
.overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: -2001;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.overlay.on {
  opacity: 0.8;
}
/* Модальне вікно */
.form {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: -2000;
  width: 466px;
  height: 580px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.form.on {
  opacity: 1;
}
.form-content {
  text-align: center;
  height: 100%;
  color: #535353;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}
.form-message {
  width: 340px;
  height: 140px;
  resize: none;
  border: 1px solid gray;
  margin: 10px;
}
input {
  width: 330px;
  height: 30px;
  border: 1px solid #767676;
  margin: 10px;
  padding: 5px;
}
input:focus {
  outline: none;
  border-color: #767676;
}
input.error {
  border-color: red;
  background: radial-gradient(white, rgba(255, 0, 0, 0.2));
  color: red;
}

input.error::placeholder {
  color: red;
  opacity: 1;
}

.form-message:focus {
  outline: none;
  border-color: #767676;
}
.form-submit {
  width: 120px;
  height: 30px;
  padding: 5px;
  background-color: #767676;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin: 15px;
}
